@model AppleStoreTupinikim.Models.Vendedores

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vendedores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.razaoSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.razaoSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.cnpj">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
