@model IEnumerable<AppleStoreTupinikim.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>PRODUTOS</h1>

<p>
    <a asp-action="Create">Adicionar novo produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduto">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduto">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
